# Ignorar todos los archivos y carpetas
*

# No ignorar el archivo app.tsx en la raíz del proyecto
!app.tsx
!README.md
# No ignorar la carpeta de componentes y su contenido
!components/
!components/**/

# No ignorar el archivo login.js dentro de la carpeta de componentes
!components/login.js
